body {
    background-color: #21232f;
}

.navbar {
    background-color: #7174a2;
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

#brand {
    color: #21232f;
}

#nav-list {
    background-color: #898bad;
}

#nav-list a {
    color: white;
}

#nav-list a:hover {
  color: #c0c4d7;
}

#nav-list hr {
  margin: 0;
}

section {
    padding: 20px;
    border: 2px solid #e9f0f6;
    margin-bottom: 40px;
    background-color: #7174a2;
    color: #3e4045;
}

h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #e9f0f6;
}
